*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.navbar nav a {
   margin-left: 20px;
   text-decoration: none;
   color: #2f4f2f;
   font-weight: bold;
}
