*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.navbar nav a {
   margin-left: 20px;
   text-decoration: none;
   color: #2f4f2f;
   font-weight: bold;
}

.hero {
    display: flex;
    align-items: center;
    padding: 40px;
    gap: 40px;
}

.hero img {
    width: 300px;   
}

button {
    padding: 10px 20px;
    background-color: #3b6f44;
    color: white;
    border: none;
    border-radius: 20px;
}